Calculator_WebService/WebContent/wsdl/calculatorImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://BS.calculator.cmpe273.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://BS.calculator.cmpe273.org" xmlns:intf="http://BS.calculator.cmpe273.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://BS.calculator.cmpe273.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="oldValue" type="xsd:int"/>
      <element name="newValue" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtract">
    <complexType>
     <sequence>
      <element name="oldValue" type="xsd:int"/>
      <element name="newValue" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtractResponse">
    <complexType>
     <sequence>
      <element name="subtractReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="division">
    <complexType>
     <sequence>
      <element name="oldValue" type="xsd:int"/>
      <element name="newValue" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisionResponse">
    <complexType>
     <sequence>
      <element name="divisionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mutliply">
    <complexType>
     <sequence>
      <element name="oldValue" type="xsd:int"/>
      <element name="newValue" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mutliplyResponse">
    <complexType>
     <sequence>
      <element name="mutliplyReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="subtractRequest">

      <wsdl:part element="impl:subtract" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mutliplyResponse">

      <wsdl:part element="impl:mutliplyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisionRequest">

      <wsdl:part element="impl:division" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mutliplyRequest">

      <wsdl:part element="impl:mutliply" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtractResponse">

      <wsdl:part element="impl:subtractResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisionResponse">

      <wsdl:part element="impl:divisionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="calculatorImpl">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtract">

         <wsdl:input message="impl:subtractRequest" name="subtractRequest">

       </wsdl:input>

         <wsdl:output message="impl:subtractResponse" name="subtractResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="division">

         <wsdl:input message="impl:divisionRequest" name="divisionRequest">

       </wsdl:input>

         <wsdl:output message="impl:divisionResponse" name="divisionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mutliply">

         <wsdl:input message="impl:mutliplyRequest" name="mutliplyRequest">

       </wsdl:input>

         <wsdl:output message="impl:mutliplyResponse" name="mutliplyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculatorImplSoapBinding" type="impl:calculatorImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtract">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtractRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtractResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="division">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divisionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divisionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mutliply">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mutliplyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mutliplyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calculatorImplService">

      <wsdl:port binding="impl:calculatorImplSoapBinding" name="calculatorImpl">

         <wsdlsoap:address location="http://localhost:8080/273_Lab3/services/calculatorImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
